@charset "utf-8";
@font-face {
    font-family: centuryGothic;
    src: url(fonts/GOTHIC.TTF);
}
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  padding-top: 140px; 
  padding-bottom: 50px;
}
#subMain {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom:60px;
}
  
.container {
width: 100%;
margin: 0 auto;
background-color:#a62c38;
}

.socialContainer {
width: 80%;
margin: 0 auto;
padding: 0 20px;
text-align:center; 
}

div.navSection
{
	width:80%;
	align-content:center;
	margin: 0 auto;
	border-bottom:3px solid #BBB;
}

div.navSection h1
{
	font-family:centuryGothic;
	font-size:16px;
}

div.navSection h2
{
	font-family:centuryGothic;
	font-size:12px;
	color:#999999
}

div.navSection h6
{
	font-family:centuryGothic;
	font-size:8px;
	color:#999999;
}

div.navSection p
{
	text-align:center;
	font-family:centuryGothic;
	font-size:18px;
	
}
div.sectionTitle
{
	position:relative;
	height:200px;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0px;
}
div.color
{
	position:absolute;
	width:100%;
	height:200px;
	opacity:.8;
	display:inline-block;
}
div.colorText
{
	position:absolute;
	color:#FFFFFF;
	top:-25px;
	font-family:centuryGothic;
	font-size:48px;
	width:100%;
	font-weight: 400;
}
header {
    width: 100%;
	height:100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
	text-align:right;
	background:url(images/pulsecoatbanner.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0px;
	display:block;
}

header #logo {
    display: inline-block;
    height: 150px;
    font-family: centuryGothic;
    font-size: 40px;
    color:#000000;
    font-weight: 400;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}

header #sectionLogo {
	position:absolute;
	top:-8px;
	left:-15px;
    display: inline-block;
    height: 70px;
    float: left;
    font-family: centuryGothic;
    font-size: 60px;
    color:#F1F1F1;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

header #menuButton {
	position:absolute;
	top:10px;
	right:10px;
    display: inline-block;
    float: left;
    font-family: centuryGothic;
    font-size: 60px;
    color:#F1F1F1;
	padding:10px;
}
header #menuButton:hover
{
	background-color:#FFFFFF;
}
header .menuButtonDiv
{
	border-bottom:3px solid #FFF;
	border-top:3px solid #FFF;
	width:20px;
	padding-bottom:5px;
}
header .menuButtonDivB
{
	border-bottom:3px solid #FFF;
	width:20px;
	padding-bottom:5px;
}

header h1#featureArticle {
	position:absolute;
	top:30px;
	left:100px;
	width:80%;
    display: inline-block;
    height: 150px;
    float: left;
    font-family: centuryGothic;
    font-size: 18px;
    color:#F1F1F1;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
header .newsTop
{
	position:absolute;
	top:10px;
	left:100px;
}
/*controls the section headers */

header .sectionHeaderTitle
{
	font-family: centuryGothic;
    font-size: 40px;
    color:#FFFFFF;
    font-weight:bolder;
	display:inline;
	letter-spacing:7px;
}

div.headerColor
{
	position:relative;
	width:100%;
	height:400px;
	opacity:1;
	display:inline-block;
}

div.newsItem
{
	width:100%;
	overflow:hidden;
	height:300px;
	border-bottom:3px solid #BBB;
	margin-bottom:20px;
}

div.newsItemContent
{
	width:50%; 
	float:left;
	margin-bottom:20px;
}
div.newsItemContent h1
{
	font-family:centuryGothic;
	font-size:24px;
}
div.newsItemContent h2
{
	font-family:centuryGothic;
	font-size:12px;
}
div.newsItemContent h6
{
	font-family:centuryGothic;
	font-size:10px;
	color:#999999;
}
div.newsItemContent p
{
	font-family:centuryGothic;
	font-size:12px;
}

header.smaller {
    height: 100px;
}
header.smaller h1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
    font-size: 42px;
}
header.smaller div.color
{
	opacity:1.0;
}

@media all and (max-width: 660px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
    }
    
    header.smaller {
        height: 100px;
    }
    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 42px;
    }
}
input[type="button"]
{
	color:#FFFFFF; border:none; font-family:centuryGothic; font-size:20px;
}
input[type="button"].newsTop
{
	color:#9E005D; border:none; font-family:centuryGothic; font-size:20px;background-color:#F1F1F1;
}
a
{
	text-decoration:none;
	color:inherit;
}

footer {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
	text-align:center;
	background-repeat:no-repeat;
	background-position:0px;
	background-color:#a62c38 !important;
	font-family:centuryGothic;
}
footer.footerNav {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
	text-align:center;
	background-repeat:no-repeat;
	background-position:0px;
}
.hidden
{
	display:none;
}

/*****PANEL*****/

#menu {
	background: #f9f9f9;
	border-right: 3px solid #fff;
	width: 75%;
	padding: 30px;
	position: fixed;
	z-index: 100000;
	
	box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.25);
}

#menu {
	right: -100%; /* Change to right: 0; if you want the panel to display on the right side. */
}

#menu:hover, #menu:focus {
	/*right: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. */
}

#menu .arrow {
	left: 2px; /* Change to left: 2px; if you want the panel to display on the right side. */
}

#menu .arrow {
	font: normal 400 25px/25px 'Acme', Helvetica, Arial, sans-serif; /* Acme font is required for .arrow */
	color: rgba(0,0,0,0.75); /* Arrow color */
	width: 16px;
	height: 25px;
	display: block;
	position: absolute;
	top: 20px;
	cursor: default;
}

#menu:hover .arrow {
	transform: rotate(-180deg) translate(6px,-3px);
	-moz-transform: rotate(-180deg) translate(6px,-3px);
	-webkit-transform: rotate(-180deg) translate(6px,-3px);
}

#menu nav {
	position: relative;
	top: 75px;
}

#menu nav a {
	padding: 20px 5px;
	border-bottom: 1px dotted #c0c0c0;
	display: block;
	clear: both;
	font: normal 400 12px/18px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #656565;
	text-decoration: none;
}

#menu nav a:hover {
	color: #ec6912;
}

/*****END PANEL*****/
/*****ANIMATONS (optional)*****/

#menu, #menu .arrow, #menu nav a {
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

/*****END ANIMATONS*****/

 /*Spinner*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color:#0097CD;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
  /*Spinner*/